<%= @client %>
<ul>
  <% @event_list.items.each do |event| %>
    <%unless event.start.nil?%>
    <li><%= event.summary %> (<%=event.start.date_time%>)(<%=event.end.date_time%>)</li>
    <%end%>
  <% end %>
</ul>
